<div id="delete-comment-<%= element.id %>" class="comment container" >
  <div class="row flex-form" id="comment-info">

        <div class="col-xs-2 no-padding" >
            <%= image_tag element.invitation.user.facebook_picture_url, class: "avatar-large confirmed-element"%>
        </div>


        <div class="col-xs-10" style="margin-left: -50px;margin-top: 35px;">
          <p><em>Posted on <%= element.created_at.strftime("%d/%m") %> at <%= element.created_at.strftime("%H:%M") %></em>
          <% if current_user == element.invitation.user %>
            <%= link_to  event_comment_path(event, element), method: :delete, remote: true do %>
                <i class="fa fa-trash icon" aria-hidden="true"></i>
            <% end %>
           <% end %>
           </p>
        </div>






  </div>
    <p><%= element.comment %> </p>
</div>
