<%= simple_form_for [event, menu_item], remote: true, wrapper: :inline_form, html: {class: "form-inline"} do |f|  %>

<%= f.input :name, {:placeholder => 'Dish'} %>
<%= f.hidden_field :bring, value: false %>
<%= f.hidden_field :category, value: "Dessert" %>

<%= f.hidden_field :event_id, value: event.id  %>

<button type="submit" class="btn">
  <i class="fa fa-plus" aria-hidden="true" style="color: white"></i>
</button>

<% end %>
