<% content_for(:title_tag) do %>
  Edit my profile
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form">
      <h1>Edit <%= @user.first_name %></h1>
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>
          <%= f.input :first_name, error: 'Please enter your first name' %>
          <%= f.input :last_name, error: 'Please enter your last name' %>
          <%= f.input :email, error: 'Please enter your email' %>
          <%= f.input :phone, error: 'Please enter your phone number' %>
          <%= f.input :address, error: 'Please enter your address' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      <div class="form-links">
      <%= link_to "Change password", edit_user_registration_path %>
      </div>
      </div>
    </div>
  </div>
</div>
