<%= simple_form_for [event, item], wrapper: :inline_form, html: {class: "form-inline"} do |f| %>
  <%= f.input :name, {:placeholder => 'name', :input_html => { :class => 'text_hover', :style => 'display: inline;' }} %>
  <%= f.input :quantity, {:label=>false, :placeholder => 'quantity', :input_html => { :class => 'text_hover', :style => 'display: inline; width: 35%' }} %>
  <%= f.button :submit, 'update'%>
  <% end %>
  <%= link_to event_menu_item_path(event, item),method: :delete, id: item.id, event_id: event.id, class: "inline_display" do %> <i class="fa fa-trash"></i> <% end %>
  </div>

