<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" id="sidebar_title">
                        EVENT NAME
                    </a>
                </li>
                <li>
                    <a href="#">Dinner Dashboard</a>
                </li>
                <li>
                    <a href="#">Dinner Pictures</a>
                </li>
                <li>
                    <a href="#">Payments</a>
                </li>
                <li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div id="colum_media_corretion" class="col-lg-12">
                <div class="flex-horizontal">
                  <div class="event_page_image">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </div>
                  <div class="event_page_informations">
                    <div class="flex-between">
                      <input type="text" class="venue-informations text_hover text_hover form-control" id="menu_snacks" placeholder="Venu informations" >



                      <div class="event-friend text_hover text_hover">
                        <%= simple_form_for @event do |f| %>
                          <%= f.input :description %>
                            <%= f.submit 'Save' %>
                        <% end %>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="flex-horizontal">
                  <div class="event_page_menu">
                    <div class=" text-center">
                      <h3> <%= @event.id %> <%= @event.title %> </h3>
                    </div>
                    <div class="menu_meals">
                      <div class="event-friend text_hover text_hover">
                        <%= simple_form_for @event do |f| %>
                          <div id='menu_items'>
                            <%= f.simple_fields_for :menu_items, @event.menu_items.build do |menu_item| %>
                            <%= menu_item.input :name, {:placeholder => 'name'} %>
                            <%= menu_item.input :category, {:placeholder => 'category'} %>
                            <%= menu_item.input :quantity, {:placeholder => 'quantity'} %>
                            <% end %>

                          </div>
                          <%= f.submit 'Add' %>
                        <% end %>
                        <% @event.menu_items.each do |item|  %>
                          <%= simple_form_for [@event, item] do |f| %>
                              <%= f.input :name, {:placeholder => 'name'} %>
                              <%= f.input :category, {:placeholder => 'category'} %>
                              <%= f.input :quantity, {:placeholder => 'quantity'} %>
                              <%= f.submit 'update'%>

                          <% end %>
                              <%= link_to 'destroy', controller: "menu_items", action: "destroy", id: item, event_id: @event %>
<!-- id of the item is nil so route does not match -->
                        <% end %>
                      </div>

                      <div class="menu_others flex-between">
                        <input type="text" class="menu_drinks text_hover form-control" id="menu_snacks" placeholder="menu drinks" >
                        <input type="text" class="menu_snacks text_hover form-control" id="menu_snacks" placeholder="menu snacks" >

                      </div>

                    </div>
                  </div>
                  <div class="event_page_menu_choices">
                    <div class="choice_buttons flex-between">
                      <button type="button" class="imin_btn btn btn-success">SHARE!</button>
                      <button type="button" class="imout_btn btn btn-danger">See event</button>
                    </div>
                      <input type="text" class="required_items text_hover form-control" id="menu_snacks" placeholder="What should your friend bring ?">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <% content_for :after_js do %>

    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <% end %>

