<%= render 'shared/title_tag', event: @event, invitation: @event.invitations.where(role:"manager").first %>
<div id="wrapper">


        <!-- Page Content -->
<div id="page-content-wrapper">
<div class="container-fluid-right container-fluid-left">
<div class="row">



      <!-- show event picture if it already exists -->
        <% if @event.photo.blank?  %>
          <% @event.remote_photo_url = "http://via.placeholder.com/400x300"%>
        <% end %>
          <div class="banner_edit" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path @event.photo%>')">
              <div class="upload_image form-inline">
                <%= simple_form_for(@event) do |f| %>
                  <%= f.input :photo, class: "btn btn-default", label: false %>
                  <%= f.input :photo_cache, as: :hidden %>
                  <button type="submit" class="btn btn-danger" style="background-color: white; color: black; border: none;">
                      Save Pic
                  </button>
              <% end %>
              </div>
          </div>

      <div class="venue-informations_edit">

        <form action="/events/<%=@event.id%>" method="post" >
          <input type="hidden" name="_method" value="patch" class="form-control">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>


              <form action="/events/<%=@event.id%>" method="POST"">
              <input type="hidden" name="_method" value="patch">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div  class="form-inline">
                  <input type="text" name="event[title]" class="form-control" value="<%= @event.title %>" placeholder="Event Title"  required>
                  <div class='input-group date' id='datetimepicker' style="color: black;">
                    <input type='text' name="event[start_date]" class="form-control" value="<%= @event.start_date.strftime("%d/%m/%Y %H:%M") %>" placeholder="Dinner Date"   required />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                    <input type="text" name="event[address]" class="form-control" value="<%= @event.address %>" placeholder="Dinner Address" value="address" required>
                    <input type="submit" class="btn btn-default" value="Update" class="btn-lg btn-danger" style="background-color: rgba(216, 65, 105, 1); color: white; border: none;">
                </div>
              </form>


          <div class="form-inline choice_buttons">
            <%= link_to "See event", event_path(@event), class: "btn btn-default btn-info" %>
            <%= link_to "Delete event", event_path(@event), method: :delete, class: "btn btn-default btn-danger" %>
          </div>
        </form>


      </div>


<div class="container">


  <div class="row margin description_padding" style="margin-top: -150px;">
    <div class="col-xs-12 col-sm-5 col-md-6 spots-mobile" style="padding-left: 0px">
    <div class="spots-box">

      <div class="venue-informations-free-spots ">

        <p><em>Add your free spots</em></p>
        <div>
         <button class="free-spots free-spots-counter" id="spot-counter"><strong>
          <%= render "free_spots", event: @event %>
        </strong></button>

        <button class="free-spots-blue"><%= link_to addfreespot_event_path(@event), method: :post, remote: true do %> <i class="fa fa-plus" style="color: white"></i> <% end %></button>
        <button class="free-spots-blue"><%= link_to deletefreespot_event_path(@event), method: :post, remote: true do %> <i class="fa fa-minus" style="color: white"></i> <% end %></button>
        </div>
      </div>

  <!-- Trigger the modal with a button -->
      <div class="event-friend-invited">
      <p><em>Invite your friends</em></p>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#invite">Invite Friends</button>
            <% @event.notresponded.each do |guest| %>
            <span id="invited-friend"> <%= link_to event_invitation_path(@event, guest.invitation(@event)), method: :delete do %> <%= image_tag guest.facebook_picture_url, class: "avatar-large invited-friend-avatar", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%><i class="fa fa-trash hidden" id="invited-friend-delete"></i><% end %> </span>
            <% end %>
      </div>


      <%= render 'events/invite_modal', event:@event, fb_friends: @fb_friends, user: @user, users:@users %>


    </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-6 description-mobile" style="padding-right: 0px">

      <div class="event_description description_padding text-center description-box" id="event-desciption-form">
        <%= render 'events/description_form', event: @event %>
      </div>

    </div>
  </div>

  <div class="row margin">
    <div class="col-xs-12 col-sm-12 menu-box">



     <div class="menu">
                <table class="fixed" id="menu-table">
                  <tr>
                    <th><h5 class="menu_title">APPETIZER</h5></th>
                    <th><h5 class="menu_title">MAIN</h5></th>
                    <th><h5 class="menu_title">DESSERT</h5></th>
                  </tr>
                  <tr>
                    <td>
                        <div id="appetizer-form">
                          <%= render 'menu_items/form_appetizer', event: @event, menu_item: @menu_item %>
                        </div>
                    </td>
                    <td>
                        <div id="main-form">
                        <%= render 'menu_items/form_main', event: @event, menu_item: @menu_item %>
                      </div>
                    </td>
                    <td>
                       <div id="dessert-form">
                        <%= render 'menu_items/form_dessert', event: @event, menu_item: @menu_item %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <div id = "menu_appetizer">
                          <% @event.menu_items.each do |item|  %>
                            <% if (item.category == "Appetizer") && !item.invitation.nil? %>
                              <%= render 'menu_items/to_bring_form', event: @event, item: item %>
                            <% end %>
                          <% end %>
                        </div>
                      </td>

                      <td>
                        <div id = "menu_main">
                          <% @event.menu_items.each do |item|  %>
                            <% if (item.category == "Main") && !item.invitation.nil? %>
                              <%= render 'menu_items/to_bring_form', event: @event, item: item %>
                            <% end %>
                          <% end %>
                        </div>
                      </td>

                      <td>
                        <div id = "menu_dessert">
                          <% @event.menu_items.each do |item|  %>
                            <% if (item.category == "Dessert") && !item.invitation.nil? %>
                              <%= render 'menu_items/to_bring_form', event: @event, item: item %>
                            <% end %>
                          <% end %>
                        </div>
                      </td>
                  </tr>

                </table>

    </div>

        <table class="text-center bring fixed">
          <tr>
            <th><h5 class="menu_title">I NEED MY FRIENDS TO BRING</h5></th>
          </tr>
            <tr>
              <td>
               <div id="to-bring-form">
                <%= render 'menu_items/form', event: @event, menu_item: @menu_item %>
                </div>
              </td>
            </tr>
             <tr>
              <td>
               <div id = "menu_snacks">
                <% @event.menu_items.each do |item|  %>
                  <% if (item.category == nil) && !item.invitation.nil? %>
                      <%= render 'menu_items/to_bring_form', event: @event, item: item %>
                  <% end %>
                <% end %>
              </div>
              </td>
            </tr>
        </table>
     </div>
  </div>

 </div>

 </div>

</div>
</div>
</div>




        <!-- /#page-content-wrapper -->

    <!-- /#wrapper -->



    <!-- jQuery -->
    <% content_for :after_js do %>

    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js">

    </script>
    <!-- AJAX requests -->

<!--       <script>
        var counter = 0;
        if (counter == 0) {
          counter += 1;
          $('#add_item_ingredient_btn').on('click',function(e){
          $("#wrapper2").toggleClass("toggled");
        });
        }

      </script> -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script>
    $("stuff_to_bring").click(function(e) {
        e.preventDefault();
        $("#wrapper2").toggleClass("toggled");
    });
    </script>
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            format:'DD/MM/YYYY HH:mm',
        });
        });
    </script>
    <script>
      $('#invited-friend').on('hover', function(){
        $('.invited-friend-avatar').addClass("hidden";
        $('#invited-friend-delete').removeClass("hidden");
      }, function (){
        $('#invited-friend-delete').addClass("hidden");
        $('.invited-friend-avatar').removeClass("hidden");
      });
    </script>
    <script>
      $("#menu-toggle").on('click', function(e){
        $(this).blur();
        if ($('#menu-toggle i').hasClass('fa-arrow-right')) {
          $('#menu-toggle i').removeClass('fa-arrow-right').addClass('fa-arrow-left');
        } else {
          $('#menu-toggle i').removeClass('fa-arrow-left').addClass('fa-arrow-right');
        }
      });
    </script>

    <script>
  $(function(){

  $(".tab").on("click", function(e){
    // Change active tab
    $(".tab").removeClass('active');
    $(this).addClass('active');
    // Hide all tab-content (use class="hidden")
    $(".tab-content").addClass('hidden');
    // Show target tab-content (use class="hidden")
    $($(this).data('target')).removeClass('hidden');
  });

});
</script>

    <% end %>
