<div id="wrapper">

<!-- test comment -->
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" id="sidebar_title">
                        EVENT NAME
                    </a>
                </li>
                <li>
                    <a href="#">Dinner Dashboard</a>
                </li>
                <li>
                    <a href="#">Dinner Pictures</a>
                </li>
                <li>
                    <a href="#">Payments</a>
                </li>
                <li>
            </ul>
        </div>
        <div id="wrapper2">

          <div id="sidebar-wrapper2">
            <ul class="sidebar-nav">
              <li>
                <a href="#">Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
<div id="page-content-wrapper">
<div class="container-fluid-right container-fluid-left">
<div class="row">
<div class="col-lg-12">

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div class="venue-informations text_hover text_hover">
        <div class="venue-informations-date">
          <div class=" text-center">
              <h4> <%= @event.title %> </h4>

          </div>
          <%= simple_form_for @event do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.input :address %>
              <%= f.submit 'Save' %>
          <% end %>
        </div>
        <div class="choice_buttons flex-between">
          <%= social_share_button_tag("Share") %>
          <%= link_to "See event", event_path(@event), class: "btn btn-default btn-danger" %>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="event_page_image">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
      <a href="#menu-toggle2" class="btn btn-default" id="menu-toggle2"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div class="venue-informations-free-spots">
        <% @event.free_spots.times do %>
          <button class="free-spots"><%= link_to deletefreespot_event_path(@event) do %> <i class="fa fa-trash"></i> <% end %></button>
        <% end %>
        <%= link_to "+", addfreespot_event_path(@event) %>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Invite Friends
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% @friends.each do |friend| %>
          <li><%= link_to "#{friend.first_name} #{friend.last_name}", event_invitations_path({event_id: @event.id, user_id: friend.id}), method: :post %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">

      <div class="event_description">
        <%= simple_form_for @event do |f| %>
          <%= f.input :description %>
          <%= f.submit 'Save' %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="flex-form">
        <div class="menu_title">
          <h4>APPETIZER</h4>
        </div>
        <div>
          <div class="menu_items_box">
            <% @event.menu_items.each do |item|  %>
            <% if (item.category == "Appetizer") && !item.invitation.nil? %>
            <%= simple_form_for [@event, item], wrapper: :inline_form, html: {class: "form-inline inline_display"} do |f| %>

            <%= f.input :name, {:placeholder => 'name'} %>

            <%= f.button :submit%>
            <% end %>
            <%= link_to event_menu_item_path(@event, item),method: :delete, id: item.id, event_id: @event.id, class: "inline_display" do %> <i class="fa fa-trash"></i> <% end %>
            <% end %>

            <% end %>
          </div>
          <div>
            <%= simple_form_for [@event, @menu_item], wrapper: :inline_form, html: {class: "form-inline"} do |f| %>

            <%= f.input :name, {:placeholder => 'name'} %>
            <%= f.hidden_field :bring, value: false %>
            <%= f.hidden_field :category, value: "Appetizer" %>

            <%= f.hidden_field :event_id, value: @event.id  %>

            <%= f.submit 'Add' %>

            <% end %>
          </div>
        </div>
      </div>
      <div class="flex-form">
        <div class="menu_title">
          <h4>MAIN</h4>
        </div>
        <div>
          <div class="menu_items_box">
            <% @event.menu_items.each do |item|  %>
            <% if (item.category == "Main") && !item.invitation.nil? %>
            <%= simple_form_for [@event, item], wrapper: :inline_form, html: {class: "form-inline inline_display"} do |f| %>

            <%= f.input :name, {:placeholder => 'name'} %>

            <%= f.button :submit%>
            <% end %>
            <%= link_to event_menu_item_path(@event, item),method: :delete, id: item.id, event_id: @event.id, class: "inline_display" do %> <i class="fa fa-trash"></i> <% end %>
            <% end %>

            <% end %>
          </div>
          <div>
          <%= simple_form_for [@event, @menu_item], wrapper: :inline_form, html: {class: "form-inline"} do |f| %>

          <%= f.input :name, {:placeholder => 'name'} %>
          <%= f.hidden_field :bring, value: false %>
          <%= f.hidden_field :category, value: "Main" %>

          <%= f.hidden_field :event_id, value: @event.id  %>

          <%= f.submit 'Add' %>

          <% end %>
          </div>
        </div>
      </div>
      <div class="flex-form">
        <div class="menu_title">
          <h4>DESSERT</h4>
        </div>
        <div>
          <div class="menu_items_box">
            <% @event.menu_items.each do |item|  %>
            <% if (item.category == "Dessert") && !item.invitation.nil? %>
            <%= simple_form_for [@event, item], wrapper: :inline_form, html: {class: "form-inline inline_display"} do |f| %>

            <%= f.input :name, {:placeholder => 'name'} %>

            <%= f.button :submit%>
            <% end %>
            <%= link_to event_menu_item_path(@event, item),method: :delete, id: item.id, event_id: @event.id, class: "inline_display" do %> <i class="fa fa-trash"></i> <% end %>
            <% end %>

            <% end %>
          </div>
          <div>
            <%= simple_form_for [@event, @menu_item], wrapper: :inline_form, html: {class: "form-inline"} do |f| %>

            <%= f.input :name, {:placeholder => 'name'} %>
            <%= f.hidden_field :bring, value: false %>
            <%= f.hidden_field :category, value: "Dessert" %>

            <%= f.hidden_field :event_id, value: @event.id  %>

            <%= f.submit 'Add' %>

            <% end %>
          </div>
        </div>
      </div>
      <div class="flex-form">
        <div class="menu_title">
          <h4>TO BRING</h4>
        </div>
        <div class="add_item_form">
          <%= simple_form_for [@event, @menu_item], wrapper: :inline_form, html: {class: "form-inline"} do |f| %>

          <%= f.input :name, {:placeholder => 'name'} %>
          <%= f.input :quantity, {:placeholder => 'quantity'} %>
          <%= f.hidden_field :bring, value: true %>

          <%= f.hidden_field :event_id, value: @event.id  %>

          <%= f.submit 'Add' %>

          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      FEED
    </div>
  </div>

  <div class="event_page_menu_choices">

    <div class="required_items text_hover form-control" id="menu_snacks">
     <% @event.menu_items.each do |item|  %>
     <% if item.invitation.nil? %>
     <%= simple_form_for [@event, item], wrapper: :inline_form, html: {class: "form-inline"} do |f| %>

     <%= f.input :name, {:placeholder => 'name'} %>
     <%= f.input :category, {:placeholder => 'category'} %>
     <%= f.input :quantity, {:placeholder => 'quantity'} %>
     <%= f.button :submit%>
     <% end %>
     <%= link_to 'destroy', event_menu_item_path(@event, item),method: :delete, id: item.id, event_id: @event.id %>
     <% end %>


     <% end %>
   </div>
 </div>
 </div>

</div>
</div>
</div>
</div>



        <!-- /#page-content-wrapper -->

    <!-- /#wrapper -->

    <!-- jQuery -->
    <% content_for :after_js do %>

    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script>
    $("#menu-toggle2").click(function(e) {
        e.preventDefault();
        $("#wrapper2").toggleClass("toggled");
    });
    </script>
    <% end %>
