<div id="wrapper">

  <!-- test comment -->
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#" id="sidebar_title">
          <%= @event.title %>
        </a>
      </li>
      <li>
        <a href="#topofpage">Top</a>
      </li>
      <li>
        <a href="#">Dinner Pictures</a>
      </li>
      <li>
        <a href="#">Payments</a>
      </li>
      <li>
      </ul>
    </div>
    <% if @event.coming.include? current_user %>

    <div class="bring-items">
        <div class="choose-item" id="menu_snacks">
          <p>Choose something to bring</p>
          <% @event.menu_items.each do |item|  %>
          <% if item.invitation.nil? %>
          <%= link_to "#{item.name}  x#{item.quantity}", event_brings_item_path(@event, item), class: "btn btn-default btn-success" %>
          <% end %>
          <% end %>
        </div>
        <div class="chosen-item">
          <p>I bring</p>
          <ul>
            <% current_user.bring(@event).each do |element| %>
            <li><%= element.name %> x <%= element.quantity %></li>
            <% end %>
          </ul>
        </div>
    </div>
    <% end %>
    <!-- /#sidebar-wrapper -->

   <!-- Page Content -->
   <div id="page-content-wrapper">
    <div class="container-fluid-right container-fluid-left">
      <div class="row">


        <div banner_form_pack>
          <div class="event_banner_div" id="topofpage">
            <!-- show event picture if it already exists -->
            <% if @event.photo.blank?  %>
            <% @event.remote_photo_url = "http://via.placeholder.com/400x300"%>
            <% end %>
            <div class="banner_edit" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= cl_image_path @event.photo , height: 300, width: 400, crop: :fill %>')">
            <a href="#menu-toggle" class="btn btn-warning" id="menu-toggle" style="position: relative; top : 10px; left: 10px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>

        </div>

        <div class="venue-informations">

                  <div class="venue-informations-date">

                    <div class="text-center">
                        <h4 id="event-title"> <%= @event.title %> </h4>
                        <% @event.managers.each do |guest| %>
                        <%= image_tag guest.facebook_picture_url, class: "avatar-large picture", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%>

                        <% end %>
                        invited you
                    </div>

                      <p><em><%= Date::DAYNAMES[@event.start_date.wday] %>
                       <%= @event.start_date.strftime("%d %B")  %>
                       <%= @event.start_date.strftime("%H:%M") %></em></p>
                      <br>
                      <p><%= @event.address %></p>
                  </div>

                  <div class="choice_buttons flex-between border">
                    <% if @event.managers.include? current_user %>
                      <div id= "edit-button">
                        <%= link_to "Edit", edit_event_path(@event), class: "btn-lg btn-warning edit-button" %>
                      </div>
                    <% else %>
                      <% if current_user.invitation(@event).accepted%>
                        <p class="text-center" style="margin-top: 20px">Cool you are coming</p>
                        <%= link_to "I'm in", event_invitation_path(@event, @invitation, { :button => "in" }), method: :patch, class: "btn-warning choice-btn-sm", id: "iaminbutton" %>
                        <%= link_to "I'm out", event_invitation_path(@event, @invitation, { :button => "out" }), :method => :patch, class: "btn-warning choice-btn" %>
                      <% elsif !current_user.invitation(@event).accepted%>
                        <%= link_to "I'm in", event_invitation_path(@event, @invitation, { :button => "in" }), method: :patch, class: "btn-warning choice-btn", id: "iaminbutton" %>
                        <%= link_to "I'm out", event_invitation_path(@event, @invitation, { :button => "out" }), :method => :patch, class: "btn-warning choice-btn-sm" %>
                        <p class="text-center" style="margin-top: 20px">You can still join</p>
                        <% else %>
                         <%= link_to "I'm in", event_invitation_path(@event, @invitation, { :button => "in" }), method: :patch, class: "btn-warning choice-btn", id: "iaminbutton" %>
                          <%= link_to "I'm out", event_invitation_path(@event, @invitation, { :button => "out" }), :method => :patch, class: "btn-warning choice-btn" %>
                      <% end %>
                    <% end %>
                  </div>


        </div>
      </div>

      <div class="container">


        <div class="row margin description_padding" style="margin-top: -150px;">
          <div class="col-xs-12 col-sm-6">

            <div class="venue-informations-free-spots ">
            <% if @event.free_spots > 3 %>
              <p><em><%= @event.free_spots %> free spots left</em></p>
              <div class="confirmed">
                <% @event.coming.each do |guest| %>
                  <%= image_tag guest.facebook_picture_url, class: "avatar-large confirmed-element", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%>
                <% end %>
                <% 3.times do %>
                  <button class="free-spots avatar-large confirmed-element"><i class="fa fa-user fa-2x free-spot-placeholder" aria-hidden="true"></i></button>
                <% end %>
                  <button class="free-spots avatar-large confirmed-element"><i class="fa fa-plus fa-2x free-spot-placeholder" aria-hidden="true"></i></button>
                </div>
            <% elsif @event.free_spots == 2 %>
              <p><em><%= @event.free_spots %> free spots left</em></p>
                <div class="confirmed">
                <% @event.coming.each do |guest| %>
                  <%= image_tag guest.facebook_picture_url, class: "avatar-large confirmed-element", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%>
                <% end %>
                <% @event.free_spots.times do %>
                  <button class="free-spots avatar-large confirmed-element"><i class="fa fa-user fa-2x free-spot-placeholder" aria-hidden="true"></i></button>
                <% end %>
                </div>

            <% elsif @event.free_spots == 1 %>
              <p><em><%= @event.free_spots %> free spot left! QUICK!</em></p>
                <div class="confirmed">
                <% @event.coming.each do |guest| %>
                  <%= image_tag guest.facebook_picture_url, class: "avatar-large confirmed-element", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%>
                <% end %>
                <% @event.free_spots.times do %>
                  <button class="free-spots avatar-large confirmed-element"><i class="fa fa-user fa-2x free-spot-placeholder" aria-hidden="true"></i></button>
                <% end %>
                </div>

            <% elsif @event.free_spots == 0 %>
              <p><em>No free spot left! But maybe someone cancels, so keep checking the page out :) </em></p>

                <div class="confirmed">
                <% @event.coming.each do |guest| %>
                  <%= image_tag guest.facebook_picture_url, class: "avatar-large confirmed-element", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%>
                <% end %>
                <% @event.free_spots.times do %>
                  <button class="free-spots confirmed-element"><i class="fa fa-user fa-2x free-spot-placeholder" aria-hidden="true"></i></button>
                <% end %>
                </div>
            <% end %>

            </div>
        </div>

          <div class="col-xs-12 col-sm-6">
          <% if @event.notresponded.count > 3 %>
                  <p><em>Invited</em></p>
                <div class="venue-informations-free-spots flex-form">
                  <div>
                  <% @event.notresponded[0...3].each do |guest| %>
                    <%= image_tag guest.facebook_picture_url, class: "avatar-large", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%>
                  <% end %>
                  </div>
                  <div class="dropdown">
                    <button class="free-spots confirmed-element dropdown-toggle", data-toggle="dropdown" style="cursor: pointer"><i class="fa fa-plus free-spot-placeholder" aria-hidden="true"></i> <i class="fa fa-user free-spot-placeholder" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu navbar-wagon-dropdown-menu dropdown-content">
                    <% @event.notresponded[3..@event.notresponded.size].each do |guest| %>
                      <li>  <%= image_tag guest.facebook_picture_url, class: "avatar-large", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%></li>
                  <% end %>
                    </ul>
                  </div>

                </div>
            <% else %>
              <div class="venue-informations-free-spots">
                <p><em>Invited</em></p>
                <% @event.notresponded.each do |guest| %>
                <%= image_tag guest.facebook_picture_url, class: "avatar-large", "data-toggle" => "tooltip", "data-placement"=>"left", "title" =>"#{guest.first_name}"%>
                <% end %>
              </div>
          <% end %>
          </div>


          <div class="col-xs-12 col-sm-12 boxed">

            <div class="text-center">
              <div class="event_description">
                  <p><%= @event.description %></p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-12 boxed">
              <div class="menu">
              <div class="flex-form menu_category">
                <div class="menu_title">
                  <h5>APPETIZER</h5>
                </div>
                <div class="menu-text">
                  <% @event.menu_items.each do |item|  %>
                    <% if (item.category == "Appetizer") && !item.invitation.nil? %>
                    <p><span></span><%= item.name %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="flex-form menu_category">
                <div class="menu_title">
                  <h5>MAIN</h5>
                </div>
                <div class="menu-text">
                  <% @event.menu_items.each do |item|  %>
                    <% if (item.category == "Main") && !item.invitation.nil? %>
                    <p><span></span><%= item.name %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="flex-form menu_category ">
                <div class="menu_title">
                  <h5>DESSERT</h5>
                </div>
                <div class="menu-text">
                  <% @event.menu_items.each do |item|  %>
                    <% if (item.category == "Dessert") && !item.invitation.nil? %>
                    <p><span></span><%= item.name %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>


          </div>

        <div class="row margin">
          <div class="col-xs-12 col-sm-12">
            <%= simple_form_for [@event, @comment]  do |f| %>
            <%= f.input :comment %>
            <%= f.hidden_field :event_id, value: @event.id  %>
            <button type="submit" class="btn btn-warning">
              <i class="icon-save" style="color: #DB6618"></i> Post
            </button>
            <% end %>
          </div>

           <div class="col-xs-12 col-sm-12">
           <div id="comments">
            <% @event.comments_ordered.each do |element| %>
            <div> <%= image_tag element.invitation.user.facebook_picture_url, class: "avatar-large confirmed-element"%>
            <%= element.comment %>
            <p><em>Posted on <%= element.created_at.strftime("%d/%m") %> at <%= element.created_at.strftime("%H:%M") %></em>
            <% if current_user == element.invitation.user %>
               <%= link_to  event_comment_path(@event, element), method: :delete do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            <% end %>
            </p>
            </div>
            <% end %>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>




<!-- /#page-content-wrapper -->

<!-- /#wrapper -->



<!-- jQuery -->
<% content_for :after_js do %>

<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


<!-- AJAX requests -->


<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

  <script>
    $("#menu-toggle").on('click', function(e){
      $(this).blur();
      if ($('#menu-toggle i').hasClass('fa-arrow-right')) {
        $('#menu-toggle i').removeClass('fa-arrow-right').addClass('fa-arrow-left');
      } else {
        $('#menu-toggle i').removeClass('fa-arrow-left').addClass('fa-arrow-right');
      }
    });
  </script>

  <script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <% end %>
