<% content_for :meta_title, "#{@event.title}" %>
<% content_for :meta_description, @event.description %>
<% content_for :meta_image, cloudinary_url(@event.photo.path) %>

<%= render 'shared/title_tag', event:@event, invitation: @invitation %>

<div id="wrapper">
  <!-- test comment -->
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#" id="sidebar_title">
          <%= @event.title %>
        </a>
      </li>
      <li>
        <a href="#topofpage">Top</a>
      </li>
      <li>
        <a href="#">Dinner Pictures</a>
      </li>
      <li>
        <a href="#">Payments</a>
      </li>
      <li>
      </ul>
    </div>

    <% if @event.allowed_to_see_items?(current_user) %>


    <div class="bring-items hidden-xs hidden-sm ">
      <div class="choose-item" id="menu_snacks">
        <p><strong>Choose from this list what you will bring -</strong></p>
        <%= render 'events/missing_items', event:@event %>
      </div>
      <div class="chosen-item" id="item-added">
        <p>I will bring</p>
          <% current_user.bring(@event).each do |element| %>
                <% if element.category.nil? %>
               <%= render 'events/chosen_item', element:element %>
            <% end %>

          <% end %>
      </div>
      <div class="chosen-item">

        <p>My friends bring</p>
          <% current_user.others_bring(@event).each do |element| %>
            <% if element.category.nil? %>
            <div>
            <%= image_tag element.invitation.user.facebook_picture_url, class: "avatar-large invited-friend-avatar", "data-toggle" => "tooltip", "data-placement"=>"right", "title" =>"#{element.invitation.user.first_name}"%>
              <button type="button"  id="to_bring_formgroup_<%= element.id %>" class="btn btn-primary bring-elements">
                <%= element.quantity == nil ? "" : "#{element.quantity}x " %> <%= element.name.capitalize %>
              </button>
            </div>
            <% end %>
          <% end %>
      </div>
    </div>


      <button type="button" class="btn-danger bring-items-mobile  hidden-lg hidden-md" id="bring-stuff-btn" data-toggle="modal" data-target="#invite">Missing items</button>

      <div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                             <h4 class="modal-title" id="myModalLabel">Items to bring</h4>
                        </div>
                        <div class="modal-body">
                               <div class="choose-item" id="menu_snacks">
                            <p><strong>Choose from this list what you will bring -</strong></p>
                            <%= render 'events/missing_items', event:@event %>
                          </div>
                          <div class="chosen-item" id="item-added-mobile">
                            <p>I will bring</p>
                              <% current_user.bring(@event).each do |element| %>
                                    <% if element.category.nil? %>
                                   <%= render 'events/chosen_item', element:element %>
                                <% end %>

                              <% end %>
                          </div>
                          <div class="chosen-item">

                            <p>My friends bring</p>
                              <% current_user.others_bring(@event).each do |element| %>
                                <% if element.category.nil? %>
                                <div>
                                <%= image_tag element.invitation.user.facebook_picture_url, class: "avatar-large invited-friend-avatar", "data-toggle" => "tooltip", "data-placement"=>"right", "title" =>"#{element.invitation.user.first_name}"%>
                                  <button type="button"  id="to_bring_formgroup_<%= element.id %>" class="btn btn-primary bring-elements">
                                    <%= element.quantity == nil ? "" : "#{element.quantity}x " %> <%= element.name.capitalize %>
                                  </button>
                                </div>
                                <% end %>
                              <% end %>
                          </div>


                        </div>

                    </div>
                </div>
      </div>

    <% end %>
    <!-- /#sidebar-wrapper -->

   <!-- Page Content -->
   <div id="page-content-wrapper">
    <div class="container-fluid-right container-fluid-left">
      <div class="row">

        <!-- Banner-->
        <div banner_form_pack>
          <div class="event_banner_div" id="topofpage">
            <!-- show event picture if it already exists -->
            <% if @event.photo.blank?  %>
            <% @event.remote_photo_url = "http://via.placeholder.com/400x300"%>
            <% end %>
            <div class="banner_edit" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= cl_image_path @event.photo , height: 300, width: 400, crop: :fill %>')">
<!--             <a href="#menu-toggle" class="btn btn-danger" id="menu-toggle" style="position: relative; top : 10px; left: 10px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
            </div>
          </div>

          <!-- General Information of the event -->
          <div class="venue-informations">
            <%= render 'events/information', event: @event, invitation: @invitation %>
          </div>
        </div>

      <!-- Secondary Information spots, description -->
      <div class="container">
        <div class="row margin show_page_content" style="margin-top: -150px;">

          <div class="col-xs-12 col-sm-6" id="additional-info">
            <%= render 'events/spots', event: @event, invitation: @invitation %>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="text-center">
              <div class="event_description">
                <p><%= @event.description %></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Event Information -->
      <div class="container">
        <div class="row show_page_content_no_border">

          <div class="col-xs-12 col-sm-12">
            <%= render 'events/menu_table_show', event: @event  %>
          </div>

        </div>

      <div class="row show_page_content">
          <%=  render 'events/feed', event: @event, comment: @comment %>
      </div>

      </div>

      <!-- Map -->
      <div class="container map-padding">
        <div id="map" class="row show_page_content margin" style="height: 400px;"></div>
      </div>

      <!-- Row closing -->
    </div>
  </div>
  <!-- page content closing -->
</div>
</div>




<!-- /#page-content-wrapper -->

<!-- /#wrapper -->



<!-- jQuery -->
<% content_for :after_js do %>

<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>



<!--   Google map Geocoder -->
<%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash_markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>


<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

  <script>
    $("#menu-toggle").on('click', function(e){
      $(this).blur();
      if ($('#menu-toggle i').hasClass('fa-arrow-right')) {
        $('#menu-toggle i').removeClass('fa-arrow-right').addClass('fa-arrow-left');
      } else {
        $('#menu-toggle i').removeClass('fa-arrow-left').addClass('fa-arrow-right');
      }
    });
  </script>

  <script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <% end %>

