<% if user_signed_in? %>


<div class="banner_half" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(250,250,250,0.1) 70%), url('https://static.pexels.com/photos/326278/pexels-photo-326278.jpeg');">
  <div class="banner-content">
    <h2>WhosIn</h2>

    <form action="<%= events_path %>" method="POST"">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div  class="form-inline">
        <input type="text" name="event[title]" class="form-control" placeholder="Event Title"  required>
        <div class='input-group date' id='datetimepicker6'>
          <input type='text' class="form-control" name="event[start_date]" placeholder="Date & Time"  required />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
          <input type="text" name="event[address]" class="form-control" value="<%= current_user.address %>" placeholder="Dinner Address" required>
          <input type="submit" class="btn btn-default" value="Create Dinner" class="btn-lg btn-danger" style="background-color: rgba(216, 65, 105, 1); color: white; border: none;">
      </div>
    </form>

  </div>
</div>

<% if current_user.open_invitation.length != 0 && current_user.open_invitation.first != nil %>
<div class="container home-container-margin">
  <div class="row">
    <h2 class="dashboard_subtitle">You're invited</h2>
    <% current_user.open_invitation.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'shared/card', e: event%>
        </div>
      <% end %>
  </div>
</div>
<% end %>
<% if current_user.attending.length != 0 && current_user.attending.first != nil %>
  <div class="container home-container-margin">
    <div class="row">
      <h2 class="dashboard_subtitle">You're attending</h2>
      <% current_user.attending.each do |event| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'shared/card', e: event%>
          </div>
        <% end %>
    </div>
  </div>
<% end %>
<% if current_user.host.length != 0 && current_user.host.first != nil %>
<div class="container last-home-container-margin">
  <div class="row">
<h2 class="dashboard_subtitle">You're hosting</h2>
    <% current_user.host.each do |event| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'shared/card', e: event%>
        </div>
      <% end %>
  </div>
</div>
<% end %>

<% else %>

<div class="banner_full" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(250,250,250,0.1) 70%), url('http://res.cloudinary.com/cehrlicha/image/upload/v1496411012/sea-sunset-beach-couple_zultpn.jpg');">
  <div class="banner-content">
    <h1>WhosIn</h1>
    <p>Let's invite some friends for a great dinner!</p>
          <!-- Sign-up btn text link -->
      <button class="navbar-wagon-item navbar-wagon-link btn-lg btn-signup" data-toggle="modal" data-target="#myModal"> Sign Up </button>

      <!-- Sign-up modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center" id="myModalLabel"> Sign Up</h4>
            </div>
            <div class="modal-body">
              <div class="text-center">
              <p style="font-size: 13px;"> connect with your favorite social network</p>
              <div>
                <%= link_to(user_facebook_omniauth_authorize_path) do %>
                  <button id="fb-button" type="button" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> <div class="text-center">Sign up with Facebook</div>
                  </button>
                <% end %>
              </div>
              <p style="font-size: 13px;"> or </p>

              <div>
                <%= link_to(new_user_registration_path) do %>
                  <button type="button" class="btn btn-block btn-social btn-openid">
                    <span class="fa fa-envelope"></span> <div class="text-center"> Sign up with Email</div>
                  </button>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-4 text-center">
    <h4 class="icon_descr"> ORGANIZE DINNERS </h4>
    <%= link_to image_tag("organize.png", class: "home_icon") %>
    <p class="landing-page-text"> Organize a dinner with just a few steps. Invite your friends, set a menu, make a list of what your friends should bring. Everything one page, everthing at sight. </p>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <h4 class="icon_descr"> MANAGE DINNER INVITATIONS </h4>
    <%= link_to image_tag("manage.png", class: "home_icon") %>
    <p class="landing-page-text"> You don't have a spot for everyone but you still want to invite all you friends? First come, first served! Fix your spots and let the quickest friends be the least hungry ones</p>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <h4 class="icon_descr"> JOIN A DINNER </h4>
    <%= link_to image_tag("join.png", class: "home_icon") %>
    <p class="landing-page-text"> See all your events. Join in one click and choose what you will bring. Everything one page, everthing at sight. </p>
  </div>

</div>

<% end %>

 <% content_for :after_js do %>
   <script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
            format:'DD/MM/YYYY HH:mm',
            sideBySide: true,
            useCurrent: true,

        });
        $('#datetimepicker7').datetimepicker({
            format:'DD/MM/YYYY HH:mm',
            sideBySide: true,

            useCurrent: false, //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
        });
    </script>
      <% end %>
